header {

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    background: #000;

}