html {
    // background: #11e8bb; /* Old browsers */
    // background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
    background: url(../img/background.jpg) center center no-repeat;
    background-size: cover;
}


#lv5 {

    background: transparent;

    canvas {
        display: block;
    }

    #pixi {
        display: none;
        // position: absolute;
        // top: 0;
        // left: 0;
        // transform: rotate3d(1, 1, 1, 45deg);
        transform: rotateY(0deg) scale(1);
    }

    .dg.ac {
        z-index: 2;
    }

    // #words {

    //     position: relative;
    //     width: 600px;
    //     height: 600px;
    //     color: #000;
    //     font-size: 80px;
    //     font-weight: 700;
    //     background: #fff000;

    // }

}